.listWrapper{
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listItem{
  color: #ffffff;
  background: #3bc072;
  padding: 5px 10px;
  border-radius: 8px;
}