.app{
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  display: grid;
  grid-template-rows: auto 2fr auto;
}
.content{
  display: grid;
  grid-template-columns: 250px 1fr; /* Фиксированный сайдбар и адаптивный контент */
}
.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background: #dffaf6;
  display: grid;
}