.container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Фиксированный сайдбар и адаптивный контент */
  transition: .3s;
  &WithoutNavBar{
    grid-template-columns: 0px 1fr; /* Фиксированный сайдбар и адаптивный контент */
  }
}
.menuBtn {
  background: #125c08;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: fixed;
  left: 15px;
  top: 93px;
  border: 1px solid #ffffff;
  z-index: 1;
  &:hover {
    background-color: #085c55;
  }
  .menuLine{
    width: 24px;
    height: 2px;
    background-color: #ffffff;
    margin: 2px 0;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  &.open{
    .menuLine:nth-child(1){
      transform: rotate(45deg) translate(5px, 5px);
    }
    .menuLine:nth-child(2){
      opacity: 0;
    }
    .menuLine:nth-child(3){
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
