.navBar{
  top: 78px;
  height: calc(100vh - 78px);
  background: #29412d;
  color: #ffffff;
  padding: 20px 30px;
  transition: all .3s;
  overflow-y: auto;
  padding-bottom: 100px;
  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .link{
    color: #ffffff;
    display: block;
    transition: .1s;
    padding: 5px;
      &.active{
      transform: scale(1.3);
      background: #0d1b0d;
    }
  }
  &Close{
    transform: translate(-250px);
  }
}
