@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-btn-dark: #f2f2f2;
  --color-btn-dark-hv: #f5f5f5;
  --color-btn-light: #212121;
  --color-btn-light-hv: #242424;
  --color-text-dark: #212121;
  --color-text-light: #f2f2f2;
  --color-page-dark: #212121;
  --color-page-light: #f2f2f2;
}